.btn_box{ text-align: center; color: #fff; font-size: 16px; border: 0; cursor: pointer;}
.btn_r{padding:9px 29px; border-radius: 20px;}
.btn_e{padding:9px; border-radius: 5px;}
.btn_blue{background:#5484ff;}
.btn_green{background:#66cc66;}
.btn_gray{background:#999999;}	